.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
}

.test-asset {
  background-image: url('../../assets/images/SVG_Logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 128px;
  height: 128px;
  background-size: contain;
}
